</div>
<footer style="text-align: center;">
<p>Credit to <a href="https://servers.api.legacyminecraft.com">Legacy Minecraft Tracker</a>!</p>
<small>Web UI made with <strong class="text-danger">&hearts;</strong> by <strong>sui</strong> / <a href="https://github.com/0xs2/small-legacy-tracker">repo</a></small>
</footer>
</body>
</html>