<footer style="text-align: center;">
<p>Version <span class="text-success"><%= process.env.VERSION %></span></p>
<p>Made with <strong class="text-primary">&hearts;</strong> by <strong>0xs</strong></p>
</footer>