</div>
<footer style="text-align: center;">
<p>Made with <strong class="text-primary">&hearts;</strong> by <strong>sui</strong></p>
<small>This web application uses <a href="https://servers.api.legacyminecraft.com">Legacy Minecraft Server List API</a> to fetch it's data</small></small><br>
<small><strong>Open Source</strong> on <a href="https://github.com/0xs2/small-legacy-tracker">Github</a></small>
</footer>
</body>
</html>